<form [formGroup]="curveStraighteningInstructionsForm">
  <!-- "y" curve straightening instructions -->
  <div class="form-container">
    <span>Plot </span>
    <div class="form-child">
      <select
        class="select-input custom-select"
        (change)="changeYOption($event)"
        formControlName="yCurveStraighteningInstructions"
      >
        <option *ngFor="let option of yOptions" [ngValue]="option">
          {{ option }}
        </option>
      </select>
      <div>
        <span class="left-margin" *ngIf="showYToConstantPower">a=</span>
        <input
          type="text"
          formControlName="yToConstantPower"
          *ngIf="showYToConstantPower"
          class="number-input"
          placeholder="eg: 1.23 or -5/3"
        />
      </div>
    </div>
    <span> as a function of </span>

    <div class="form-child">
      <!-- "x" curve straightening instructions -->
      <select
        class="select-input custom-select"
        (change)="changeXOption($event)"
        formControlName="xCurveStraighteningInstructions"
      >
        <option *ngFor="let option of xOptions" [ngValue]="option">
          {{ option }}
        </option>
      </select>
      <div>
        <span class="left-margin" *ngIf="showXToConstantPower">a=</span>
        <input
          type="text"
          formControlName="xToConstantPower"
          *ngIf="showXToConstantPower"
          class="number-input"
          placeholder="eg: 1.23 or -5/3"
        />
      </div>
    </div>
  </div>
</form>
