<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <form
      #authForm="ngForm"
      (ngSubmit)="onSubmit(authForm)"
      class="auth-form"
      *ngIf="!loading"
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
        />
      </div>
      <div>
        <button
          class="btn"
          [disabled]="!authForm.valid"
          [ngClass]="{
            'btn-primary': isLoginMode,
            'btn-success': !isLoginMode
          }"
        >
          {{ isLoginMode ? "Login" : "Register" }}
        </button>
        <button type="button" class="btn btn-link" (click)="onSwitchMode()">
          {{ isLoginMode ? "Register" : "Login" }}
        </button>
      </div>
    </form>
    <div *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
