<div fxLayout="column" fxLayoutGap="20px">
  <div class="webpage-instructions">
    <p>
      Help: click on a cell and drag the blue square on the bottom right of the
      cell downwards in order to add new rows (identical to Excel autofill).
    </p>
  </div>
  <div class="vertical-margin">
    <hot-table [settings]="rawDataTableSettings"></hot-table>
  </div>
  <div class="vertical-margin">
    <button type="submit" (click)="onSubmit()">Submit</button>
  </div>
  <div class="vertical-margin">
    <form
      [formGroup]="curveStraighteningInstructionsForm"
      (ngSubmit)="onSubmit()"
    >
      <select
        class="custom-select"
        (change)="changeOption($event)"
        formControlName="xCurveStraighteningInstructions"
      >
        <option *ngFor="let option of options" [ngValue]="option">
          {{ option }}
        </option>
      </select>
    </form>
  </div>
  <div *ngIf="processedDataTable" class="vertical-margin">
    <hot-table
      #processedDataTableRef
      [settings]="processedDataTableSettings"
    ></hot-table>
  </div>
  <div *ngIf="processedDataTable">
    <button type="button" (click)="onFinish()">Done</button>
  </div>
</div>
