.container {
  padding: 15px 15px 25px 15px;
}

.vertical-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-margin {
  margin-left: 10px;
}

.right-margin {
  margin-right: 10px;
}

.number-input {
  width: 100px;
}
