.container {
  padding: 15px 15px 25px 15px;
}

.vertical-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-margin {
  margin-left: 10px;
}

.right-margin {
  margin-right: 10px;
}

.number-input {
  width: 120px;
}

.error-message {
  max-width: 75%;
}

hot-table {
  font-size: 15px;
}
