.container {
  padding: 15px 15px 25px 15px;
}

.webpage-instructions {
  max-width: 500px;
  border: solid 2px grey;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

.vertical-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-margin {
  margin-left: 10px;
}

.right-margin {
  margin-right: 10px;
}

.number-input {
  width: 100px;
}
