<div fxLayout="column" fxLayoutGap="20px">
  <div class="webpage-instructions">
    <p>
      Help: click on a cell and drag the blue square on the bottom right of the
      cell downwards in order to add new rows (identical to Excel autofill).
    </p>
    <p>
      Help: right click on a cell to display a context menu for a list of
      possible interactions with the table.
    </p>
    <p>Note: the minimum number of rows for this data table is 5.</p>
  </div>
  <div class="vertical-margin">
    <hot-table #rawDataTableRef [settings]="rawDataTableSettings"></hot-table>
  </div>
  <div class="vertical-margin">
    <div>Curve straightening instructions for processed data table:</div>
    <div>(y: responding, x: manipulated)</div>
    <form
      [formGroup]="curveStraighteningInstructionsForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- "y" curve straightening instructions -->
      <span>Plot </span>
      <select
        class="custom-select"
        (change)="changeYOption($event)"
        formControlName="yCurveStraighteningInstructions"
      >
        <option *ngFor="let option of yOptions" [ngValue]="option">
          {{ option }}
        </option>
      </select>
      <span class="left-margin" *ngIf="showYToConstantPower">a=</span>
      <input
        type="text"
        formControlName="yToConstantPower"
        *ngIf="showYToConstantPower"
        class="number-input"
        placeholder="eg: 1.23 or -5/3"
      />

      <span> vs </span>
      <!-- "x" curve straightening instructions -->
      <select
        class="custom-select"
        (change)="changeXOption($event)"
        formControlName="xCurveStraighteningInstructions"
      >
        <option *ngFor="let option of xOptions" [ngValue]="option">
          {{ option }}
        </option>
      </select>
      <span class="left-margin" *ngIf="showXToConstantPower">a=</span>
      <input
        type="text"
        formControlName="xToConstantPower"
        *ngIf="showXToConstantPower"
        class="number-input"
        placeholder="eg: 1.23 or -5/3"
      />
    </form>
  </div>
  <div class="vertical-margin">
    <button
      type="submit"
      (click)="onSubmit()"
      [disabled]="!curveStraighteningInstructionsForm.valid || errorMessage"
    >
      Submit
    </button>
    <span class="left-margin" *ngIf="errorMessage"
      >error: {{ errorMessage }}
    </span>
  </div>
  <div *ngIf="processedDataTable" class="vertical-margin">
    <hot-table
      #processedDataTableRef
      [settings]="processedDataTableSettings"
    ></hot-table>
  </div>
  <app-graphs
    *ngIf="showGraph && processedDataTable"
    [processedDataTableData]="processedDataTable.dataTableData"
  ></app-graphs>
  <div *ngIf="processedDataTable" fxLayout="column">
    <div><button type="button" (click)="onFinish()">Done</button></div>
    <div>
      <button type="button" (click)="onGenerateGraph()">Generate Graph</button>
    </div>
  </div>
</div>
