<div fxLayout="column" fxLayoutGap="20px" class="container">
  <div class="vertical-margin right-outline">
    <app-data-table
      #rawDataTableRefTest
      [hotId]="rawDataTableHandsontableID"
      [hotSettings]="rawDataTableSettings"
    ></app-data-table>
  </div>
  <div class="vertical-margin">
    <div>Curve straightening instructions for processed data table:</div>
    <div>(y: responding, x: manipulated)</div>
    <app-data-table-form
      [(curveStraighteningInstructionsForm)]="
        curveStraighteningInstructionsForm
      "
      [showXToConstantPower]="showXToConstantPower"
      [showYToConstantPower]="showYToConstantPower"
    ></app-data-table-form>
  </div>
  <div class="vertical-margin">
    <div class="alert error-message" [ngClass]="errorClass" *ngIf="error">
      {{ error }}
    </div>
    <button
      type="submit"
      (click)="onSubmit()"
      [disabled]="
        !curveStraighteningInstructionsForm.valid || invalidTableErrorMsg
      "
      class="btn btn-light"
    >
      Submit
    </button>
    <span class="left-margin" *ngIf="invalidTableErrorMsg"
      >{{ invalidTableErrorMsg }}
    </span>
  </div>
  <div *ngIf="loading" class="vertical-margin">
    <p>loading...</p>
    <mat-spinner></mat-spinner>
  </div>
  <div
    *ngIf="processedDataTable && !loading"
    class="vertical-margin right-outline"
  >
    <app-data-table
      #processedDataTableRefTest
      [hotId]="processedDataTableHandsontableID"
      [hotSettings]="processedDataTableSettings"
    ></app-data-table>
  </div>
  <div class="vertical-margin" *ngIf="processedDataTable">
    <!-- to avoid processedDataTableSettings being undefined, we will 
      use ngIf so this div won't exist in this case -->
    <app-graphs
      [processedDataTableData]="processedDataTableSettings.data"
    ></app-graphs>
  </div>
  <div class="vertical-margin" *ngIf="processedDataTable && !loading">
    <button class="btn btn-danger" type="button" (click)="onFinish()">
      Delete Data
    </button>
  </div>
</div>
